@import url('./reset.css');

button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
button:hover {
  background: #6c8cff;
}
input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
  margin-right: 20px;
  padding-left: 10px;
}
input:focus {
  border: 1px solid #6c8cff;
}
input:hover {
  border: 1px solid #000000;
}
.form {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.gallery {
  width: auto;
  height: 792px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
img {
  width: 260px;
  height: 152px;
}

a {
  border: 1px solid #808080;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.info-box {
  display: flex;
  width: 260px;
}
.info {
  text-align: center;
  padding-right: 15px;
  width: 50px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/*анімація завантаження */
.loader {
  font-size: 48px;
  color: #000000;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}
.loader:after {
  content: 'Loading';
  position: relative;
  z-index: 5;
}
.loader:before {
  content: '';
  height: 6px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(#ff3d00 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto;
  }
}
